<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Url</th>
      <th scope="col">Created At</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; index as i" (click)="rowClicked(row.objectID)">
      <td>{{ row.title }}</td>
      <td>{{ row.url }}</td>
      <td style="white-space: nowrap;">
        {{ row.created_at | date : 'hh:mm a, dd MMM yy' }}</td>
      <td>{{ row.author }}</td>
    </tr>
  </tbody>
</table>
<p class="text-muted" style="text-align: center;">
  {{(!data || !data.length) ? 'No Articles found' : 'End of '+ data.length +' Articles'}}
</p>